body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(60, 129, 255);
}
dialog {
    width: 34%;
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(14px);
    background-color: rgba(0, 89, 255, 0.3);
}
dialog button {
    background-color: rgba(0, 15, 82, 0.203);
    border: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
}
dialog ul {
    list-style-type: none;
}
dialog ul li {
    margin-top: 15px;
}
dialog ul a {
    color: white;
    text-decoration: none
}
nav button {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 30px;
    color: white;
}
header {
    display: inline-block;
    position: fixed;
    background: linear-gradient(to right, rgb(33, 0, 59), rgb(0, 61, 184));
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    height: 70px;
}
nav {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}
nav ul a {
    text-decoration: none;
    color: white;
    font-weight: 600;

}
header nav img {
    width: 150px;
}
.main img {
    display: inline-block;
    width: 350px;
    filter: drop-shadow(0px 0px 40px rgb(255, 255, 255));
    margin-top: 222.2px;
    transition: 0.7s ease;
}
.main img:hover {
    filter: drop-shadow(0px 0px 50px rgb(255, 255, 255));
    transform: scale(1.05);
}
.main {
    border-radius: 50px;
    margin-top: 100px;
    background: url(‏‏لقطة\ الشاشة\ \(341\).png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 610.2px;
    box-shadow: 0px 4px 40px rgb(0, 88, 250);
}
.main .btn1 {
    display: inline-block;
    background-color: rgb(0, 89, 255);
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    box-shadow: 0px 4px 40px rgb(0, 84, 241);
    margin-bottom: 35px;
    transition: 0.6s ease;
}
.main .btn2 {
    display: inline-block;
    background-color: rgb(255, 208, 0);
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    color: black;
    font-weight: 600;
    box-shadow: 0px 4px 30px rgba(241, 185, 0, 0.473);
    margin-bottom: 15px;
    transition: 0.6s ease;
}
.main .btn1:hover, .main .btn2:hover {
    transform: rotate(3deg) scale(1.1) translateY(-3px);
}
.collections h1, .categories h1 {
    color: rgb(0, 99, 228);
}
.collections {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 15px;
}
.collections .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
.collections .card {
    display: inline-block;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border: 1px solid slategrey;
    border-radius: 20px;
    transition: 0.5s ease;
    margin-bottom: 50px;
    margin-right: 15px;
    width: 27%;
}
.collections .card img {
    border-radius: 15px;
    width: 100%;
}
.collections .card:hover {
    transform: translateY(-20px);
    box-shadow: 0px 4px 90px rgba(112, 128, 144, 0.501);
}
.categories {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 35px;
    transition: 0.5s ease;
}
.categories .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
.categories .card {
    display: inline-block;
    background-color: rgb(54, 54, 69);
    padding: 20px;
    color: white;
    border-radius: 20px;
    transition: 0.5s ease;
    margin-bottom: 50px;
    width: 100px;
    height: 80px;
    margin-right: 15px;
}
.categories .card:hover {
    transform: translateY(-15px);
    box-shadow: 0px 30px 40px rgba(0, 30, 54, 0.375);
}
.contact {
    text-align: center;
}
.contact h1 {
    color: rgb(193, 223, 255);
}
.contact .images a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0)
}
.contact .images a img{
    width: 50px;
}
@media (max-width: 800px) {
    nav {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        gap: 2rem;
    }
}
@media (max-width: 600px) {
    nav button {
        display: inline-block;
    }
    nav ul {
        display: none;
    }
    .main img {
        width: 80%;
    }
    .collections .card {
        width: 60%;
    }

}


